header{
    background-color: #EAEAEA;
    font-size: 30px;
    height: 70px;
    width: 100%;
}
header p{
    margin-left: 10px;
}
.container-fixed{
    background-color: #C8FC98;
    width: 200px;
}
.container-fixed p{
    margin: 5px;
}
i{
    color: red;
}
.main{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.container-fluid{
    width: 90%;
    margin: 5px;
}
*{
    margin: 0;
}
footer{
    background-color: black;
    text-align: center;
}
a{
    color: yellow;
}
